<section class="hero is-light">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        プロフィール
      </h1>
    </div>
  </div>
</section>

<section class="section">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-8">
        <div class="columns is-centered">
          <div class="column is-4">
            <figure class="image is-200x200"  style="margin-left: auto; margin-right: auto;">
              <%= image_tag @user.profile_image.url %>
            </figure>
          </div>
          <div class="column is-10">
            <table class="table is-fullwidth">
              <tr>
                <td class="is-size-4">
                  <strong><%= @user.username %></strong>
                </td>
                <% if @user.id == current_user.id %>
                  <td class="is-size-4">
                    <%= @user.email %>
                  </td>
                  <%if current_user.email == 'guest@example.com' %>
                    <td>
                      <%= link_to '登録内容の変更はできません', '#', class: 'button is-warning' %>
                    </td>
                  <% else %>
                    <td>
                      <%= link_to '登録内容の変更', edit_user_path(@user), class: 'button is-info' %>
                    </td>
                  <% end %>
                <% end %>
              </tr>
              <table class="table is-fullwidth">
              <tr>
                <td>
                  <%= @user.profile %>
                </td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section">
  <div class="container">
    <div class="columns is-multiline">
      <% @user.recipes.each do |recipe| %>
        <div class="column is-4">
          <div class="card">
            <div class="card-image">
              <figure class="image is-2by1">
                <%= link_to recipe_path(recipe) do %>
                  <%= image_tag recipe.image.url %>
                <% end %>
              </figure>
            </div>
            <div class="card-content">
              <div class="media">
                <div class="media-content">
                  <%= link_to recipe_path(recipe), class: "panel-block" do %>
                    <span class="panel-icon">
                      <i class="fas fa-book" aria-hidden="true"></i>
                    </span>
                    作品詳細
                  <% end %>
                  <% if @user.id == current_user.id %>
                    <%= link_to edit_recipe_path(recipe), class: "panel-block" do %>
                      <span class="panel-icon">
                        <i class="fas fa-edit"></i>
                      </span>
                      作品を編集する
                    <% end %>
                    <%= link_to recipe_path(recipe), method: :delete, data: {confirm: "削除しますか？"}, class: "panel-block" do %>
                      <span class="panel-icon">
                        <i class="fas fa-trash"></i>
                      </span>
                      作品を削除する
                    <% end %>
                  <% end %>
                </div>
              </div>
              <div class="content">
                <time><%= recipe.updated_at.strftime("%Y-%m-%d %H:%M") %></time>Update
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</section>
